body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color: black;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

#blinky {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;  
  margin-top: 5px;
  padding:5px 12px;
  margin-right: 10px;
  margin-left: 10px;
  opacity: 0.75;
  float:right;
  background-color: plum;
  border-width: 0px;
  border-radius: 10px;
}
#blinky:hover {
  opacity: 1;
}
#lineUp:hover {
  opacity: 1;
}
#wiggle {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;  
  margin-top: 5px;
  opacity: 0.75;
  width: 150px; 
  padding:5px 12px;
  margin-right: 10px;
  margin-left: 10px;
  float:right;
  background-color: plum;
  border-width: 0px;
  border-radius: 10px;
}
#bouncy {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;   
  margin-top: 5px;
  padding:5px 12px;
  opacity: 0.75;
  margin-right: 10px;
  margin-left: 10px;
  float:right;
  background-color: plum;
  border-width: 0px;
  border-radius: 10px;
}
#bouncy:hover {
  opacity: 1;
}
#wiggle:hover {
  opacity: 1;
}
.lineUpButton {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;  
  padding:5px 12px;
  margin-top: 5px;
  margin-left: 10px;
  opacity: 0.75;
  float:left;
  background-color: plum;
  border-color: pink;
  border-width: 0px;
  border-radius: 10px;
}
.topbar{
  height:40px;
  background-color:black;
}
.title{
  background-color: #777;
}
.dancer{
  width: 300px;
  height: 300px;
  position:absolute;
  font-size: 50px;
}

@keyframes wiggle {
  0% { transform: rotate(-2deg); }
 25% { transform: rotate(-15deg); }
 75% { transform: rotate(15deg); }
100% { transform: rotate(2deg); }
}

.wiggly {
  font-size: 50px;
  width: 170px;
  height: 170px;
  position:absolute;
  display: inline-block;
  animation: wiggle 0.75s infinite;
}

.bouncy {
  font-size: 50px;
  width: 250px;
  height: 250px;
  position:absolute;
  display: inline-block;

  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.3,0.1,.7,0.4);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 100px, 0); }
}

/* Prefix Support */
ball {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to   { -webkit-transform: translate3d(0, 100px, 0); transform: translate3d(0, 100px, 0); }
}

.canvas {
  width: 100%;
  height: 100%;
}
