body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color: black;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  width: 300px;
  height: 300px;
  position:absolute;
}

@keyframes wiggle {
  0% { transform: rotate(-2deg); }
 25% { transform: rotate(-15deg); }
 75% { transform: rotate(15deg); }
100% { transform: rotate(2deg); }
}

.wiggly {
  width: 170px;
  height: 170px;
  position:absolute;
  display: inline-block;
  animation: wiggle 0.75s infinite;
}

.bouncy {
  width: 250px;
  height: 250px;
  position:absolute;
  display: inline-block;

  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.3,0.1,.7,0.4);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 100px, 0); }
}

/* Prefix Support */
ball {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to   { -webkit-transform: translate3d(0, 100px, 0); transform: translate3d(0, 100px, 0); }
}

.canvas1 {
  width: 100%;
  height: 100%;
  background-color: r;
}
