body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color: aqua;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  color: plum;
  border:10px solid darkblue;
  border-radius:10px;
  position:absolute;
}

@keyframes wiggle {
  0% { transform: rotate(-2deg); }
 25% { transform: rotate(-15deg); }
 75% { transform: rotate(15deg); }
100% { transform: rotate(2deg); }
}

.wiggly {
  color: plum;
  border:10px solid white;
  border-radius:10px;
  position:absolute;
  display: inline-block;
  animation: wiggle 0.75s infinite;
}

/* .wiggly{
  color: plum;
  border:10px solid white;
  border-radius:10px;
  position:absolute;
} */
/* .canvas {
  width: 100%;
  height: 100%;
  background-color:  plum
} */